:root {
    /* MAIN COLORS */
    --primary: hsl(185, 75%, 39%);
    --secondary: hsl(229, 23%, 23%);
    --accent: hsl(227, 10%, 46%);

    /* NEUTRAL COLOR */
    --grey: hsl(0, 0%, 59%);

    /* FONTS */
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;

}

body {
    background-color: var(--primary);
}

h2 {
    font-weight: 700;
    font-size: 1.2rem;
}

.svg_bg {
    /* position: relative; */
}

.text {
    /* position: absolute; */
}

.attribution {
    /* position: relative; */
}